
/* information */
table img {
    width: 180px;
}
#table-p {
    margin: 0px 11px;
    font-size: 15px;
}
/* top link are showing contact about and home  */
.n-nav {
    font-size: 27px;
    width: 100%;
    text-align: center;
    padding: 9px;
}
.n-l-1{
    width:30%;
    float:left;
}
.n-l-2{
    width:30%;
    float:left;
}
.n-l-3{
    width:30%;
    float:right;
}
.proactive {
    border-left: 1px solid black;
    border-right: 1px solid black;
}
/* input from section*/
form {
    border: 1px solid;
    padding: 18px 14px;
    border-color: black;
    display: flex;
    flex-direction: column;
}
.formtext {
    font-size: 18px;
    margin-top: 4px;
    margin-bottom: 10px;
}
.radio {
    font-size: 18px;
}
#submit {
    border: 1px solid black;
    width: 90px;
    font-size: 14px;
    padding: 10px 0px;
    margin-top: 20px;
    background: transparent;
}
input#btn {
    width: 77px;
    margin-top: 12px;
}
div#my-section {
    background: white;
}
/* design */
div#outline, #dove-facts-by-jashan, #contact-to-contact {
    padding: 10px;
}
/* section for footer */
footer {
    padding: 10px;
    text-align: right;
}
/* body color */
body {
    background: #f8f7ff;
}
body {
    padding: 0px 200px;
    margin: 0px;
}
/* top most photo */
.photo {
    background: url(photos/cute-walking-white-dove-bird-97yoia06q78whchs.jpg);
    background-size: cover;
    background-position: top;
}
/* picture text */
.photo p {
    font-size: 40px;
    margin: 0px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    padding: 235px 1px 66px;
    color: white;
}
